!!! 5
%html
	%head
		/ use head.js
		%link{href: stylesheet_path('app'), type: "text/css", rel:"stylesheet"}
		%script{src: javascript_path('app'), type:"text/javascript"}
	%body
		#nav
			%h1 
				%a(href="/") Bromios
		%ul#menu
			%li.node-add-center
				%a Add center node
			%li.node-add-child
				%a Add child node
			%li.node-delete
				%a Delete node
			

		#map
		#screen_help
	/ load other scripts there
	:javascript

